
<app-navbar-not-loged-in></app-navbar-not-loged-in>

<!--  https://bootdey.com/snippets/view/products-grid-with-hove-icons  -->


<div class="container">
    <div class="row justify-content-center product-grid-style">

        <div *ngFor="let product of products" class="col-11 col-sm-6 col-lg-4 col-xl-3">

            <div class="product-details">

                <div class="product-img">

                    <!-- You can put a question mark after product so like this: {{product?.imageSource}}, this is a safe way to navigate to attributes on an object. -->
                    <div class="label-offer bg-red" *ngIf="product.sale">Sale</div><img src="{{product.imageSource}}" alt="...">

                    <div class="product-cart">
                        <a href="#!"><i class="fas fa-cart-plus"></i></a>
                        <a href="#!"><i class="fas fa-eye"></i></a>
                    </div>

                </div>

                <div class="product-info">
                    <a href="#!">{{product.name}}</a>
                    <p class="price text-center m-0">
                        <!-- Falls Produkt im Sale ist, zeige vorherigen Preis (product.price) durchgestrichen und daneben neuen Preis (product.salePricef): -->
                        <span class="red line-through me-2" *ngIf="product.sale">{{product.price}}</span>
                        <span *ngIf="product.sale">{{product.salePrice}} €</span>
                        <!-- Falls nicht sale zeige nur einen Preis: -->
                        <span *ngIf="!product.sale">{{product.price}} €</span>
                    </p>
                    <p class="description">Beschreibung:<br>{{product.description}}</p>
                </div>

            </div>

        </div>

    </div>
</div>
