<div class="container col-md-6 d-flex flex-column align-items-center mt-5">

    <h1 style="color: #3b5bdb;">Login</h1>

    <div class="col-5" >
        <form action="">

            <!--Email Field:-->
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">E-Mail Addresse:</label>
                <input type="email" class="form-control" id="" name="" placeholder="name@beispiel.com">
            </div>
            <!--Password Field:-->
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Passwort:</label>
                <input type="password" class="form-control" id="" name="">
            </div>
    
            <button type="submit" class="btn btn-primary mb-3">Login</button>
    
        </form>
    
        <a href="#">Register</a>
    </div>
    
</div>
